<div class="login-box">
    <h1>Login</h1>
    <div class="textbox">
        <input type="text" placeholder="First Name">
    </div>
    <div class="textbox">
        <input type="text" placeholder="Last Name">
    </div>
    <div class="textbox">
        <input type="email" placeholder="Email">
    </div>
    {{!-- <div class="textbox">
        <input type="password" placeholder="Password">
    </div> --}}
    <input type="button" class="btn" value="TOUCHDOWN">
    <input type="button" class="btn" value="GOOOOALLL">
</div>