<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Metadata-->
	<meta charset="UTF-8">
	<title>Football or Futbol</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- CSS -->
	<link rel="stylesheet" href="/assets/css/football.css" type="text/css" />
	
	<!-- Fonts -->
	
    <!-- Javascript -->
	<script src="/assets/js/football.js"></script>
	
	<!-- Favicon -->
</head>

<body>
	{{{ body }}}
</body>

</html>