<div id="FootballWrap"></div>
    <h2>Pick or create your own Football Player</h2>
    <div id="buttonPlayerWrap">
        <button id="Create" type="onclick" class="btnFootball" value="Create">Create Player</button>
        <button id="Select" type="onclick" class="btnFootball" value="Save">Select Your Futbol Player</button>
        <button id="Vs" type="onclick" class="btnFootball" value="Save">Go To VS</button>
    </div>
</div>