<div id="FootballWrap"></div>
<h2>Pick or create your own Football Player</h2>

<input type="hidden" id="game" value="football">

<input id="firstName" type="text" placeholder="firstName">
<input id="lastName" type="text" placeholder="lastName">

<input id="acceleration" type="text" placeholder="acceleration">
<input id="speed" type="text" placeholder="speed">
<input id="strength" type="text" placeholder="strength">
<input id="agility" type="text" placeholder="agility">
<input id="kickPower" type="text" placeholder="kickPower">
<input id="tackle" type="text" placeholder="tackle">
<input id="jumping" type="text" placeholder="jumping">
<input id="stamina" type="text" placeholder="stamina">


<div id="buttonPlayerWrap">
    <button id="create" type="button" class="btn" value="Create Player">Create Player</button>
    <button id="home" type="button" class="btn" value="Go to home">Go to home</button>
    <button id="vs-btn" type="button" class="btn" value="Go to Vs">Go to Vs</button>
</div>
<br>
<br>
<br>
<hr>
<select id="players">
    <option value=""> Select Football Player</option>
    {{#each footballPlayers}}
    <option value={{dataValues.id}}> {{dataValues.firstName}} {{dataValues.lastName}}</option>
    {{/each}}
</select>
<div id="update-delete-player">
    <input id="acceleration1" type="text" placeholder="acceleration">
    <input id="speed1" type="text" placeholder="speed">
    <input id="strength1" type="text" placeholder="strength">
    <input id="agility1" type="text" placeholder="agility">
    <input id="kickPower1" type="text" placeholder="kickPower">
    <input id="tackle1" type="text" placeholder="tackle">
    <input id="jumping1" type="text" placeholder="jumping">
    <input id="stamina1" type="text" placeholder="stamina">
    <br>
    <br>
    <button type="button" id="update">Update</button>
    <button type="button" id="delete">Delete</button>

</div>
</div>