<div class="football">
    <h2>Pick or create your own Football Player</h2>
    <div class="textbox">
        <input id="firstName" type="text" placeholder="First Name">
    </div>
    <div class="textbox">
        <input id="lastName" type="text" placeholder="Last Name">
    </div>
    <div class="textbox">
        <input id="email" type="email" placeholder="Email">
    </div>
    <input id="create" type="button" class="btn" value="Create Player">
    <input id="Save" type="button" class="btn" value="Save Player">
    <input id="" type="button" class="btn" value="Sign Up">
</div>