<div class="futbol">
    <h2>Pick or create your own Futbol Player</h2>
    <div class="textbox">
        <input id="firstName" type="text" placeholder="First Name">
    </div>
    <div class="textbox">
        <input id="lastName" type="text" placeholder="Last Name">
    </div>
    <div class="textbox">
        <input id="email" type="email" placeholder="Email">
    </div>
    <input id="login" type="button" class="btn" value="Login">
    <input id="signUp" type="button" class="btn" value="Sign Up">
</div>