<div id="FutbolWrap"></div>
<h2>Pick or create your own Futball Player</h2>

<input type="hidden" id="game" value="futbol">

<input id="firstName" type="text" placeholder="First Name">
<input id="lastName" type="text" placeholder="Last Name">

<input id="acceleration" type="text" placeholder="Acceleration">
<input id="speed" type="text" placeholder="Speed">
<input id="strength" type="text" placeholder="Strength">
<input id="agility" type="text" placeholder="Agility">
<input id="kickPower" type="text" placeholder="Kick Power">
<input id="tackle" type="text" placeholder="Tackle">
<input id="jumping" type="text" placeholder="Jumping">
<input id="stamina" type="text" placeholder="Stamina">

<div id="buttonPlayerWrap">
    <button id="create" type="button" class="btn" value="Create Player">Create Player</button>
    <button id="Football" type="onclick" class="btnIndex" value="Football"> Football </button>
    <button id="vs-btn" type="button" class="btn" value="Go to Vs">Go to Vs</button>
</div>
<br>
<br>
<br>
<hr>
<select id="players">
    <option value=""> Select Futbol Player</option>
    {{#each futbolPlayers}}
    <option value={{dataValues.id}}> {{dataValues.firstName}} {{dataValues.lastName}}</option>
    {{/each}}
</select>
<div id="update-delete-player">
    <input id="acceleration1" type="text" placeholder="Acceleration">
    <input id="speed1" type="text" placeholder="Speed">
    <input id="strength1" type="text" placeholder="Strength">
    <input id="agility1" type="text" placeholder="Agility">
    <input id="kickPower1" type="text" placeholder="Kick Power">
    <input id="tackle1" type="text" placeholder="Tackle">
    <input id="jumping1" type="text" placeholder="Jumping">
    <input id="stamina1" type="text" placeholder="Stamina">
    <br>
    <br>
    <button type="button" id="update">Update</button>
    <button type="button" id="delete">Delete</button>

</div>
</div>