<div id="FutbolWrap"></div>
    <h2>Pick or create your own Futball Player</h2>
    <div id="buttonPlayerWrap">
        <button id="Create" type="onclick" class="btnIndex" value="Create">Create Player</button>
        <button id="Select" type="onclick" class="btnIndex" value="Save">Select Your Football Player</button>
        <button id="Vs" type="onclick" class="btnIndex" value="Save">Go To VS</button>
    </div>
</div>