<div class="headToHead">
    <h2>Player-one Vs Player-two</h2>


    <input id="vs" type="button" class="btn" value="VS">
</div>
<script type="text/javascript" src="/assets/js/headToHead.js"></script>