<div class="headToHead">
    <h2>Player-one Vs Player-two</h2>
    <div class="textbox">
        <input id="firstPlayerId" type="text" placeholder="First player Id">
    </div>
    <div class="textbox">
        <input id="secondPlayerId" type="text" placeholder="Second player Id">
    </div>
    <div class="textbox">
        <input id="userid" type="text" placeholder="userid">
    </div>

    <input id="vs" type="button" class="btn" value="VS">
</div>