<div id="indexWrap">
    <h1>Do you like Football or Futbol?</h1>
    <div id="buttonWrap">
        <button id="Football" type="onclick" class="btnIndex" value="Football"> Football </button>
        <button id="Futbol" type="onclick" class="btnIndex" value="Futbol"> Futbol </button>
    </div>
</div>
