<div class="login-box">
    <h1>Login</h1>
    <div class="textbox">
        <input id="firstName" type="text" placeholder="First Name">
    </div>
    <div class="textbox">
        <input id="lastName" type="text" placeholder="Last Name">
    </div>
    <div class="textbox">
        <input id="email" type="email" placeholder="Email">
    </div>
    {{!-- <div class="textbox">
        <input type="password" placeholder="Password">
    </div> --}}
    <input id="touchDown" type="button" class="btn" value="TOUCHDOWN">
    <input id="goal" type="button" class="btn" value="GOOOOALLL">
</div>

<script type="text/javascript" src="../public/assets/js/football.js"></script>