<form id="new-user" class="login-box">
    <h2>Login</h2>
    <div class="textbox">
        <input id="firstName" type="text" placeholder="First Name">
    </div>
    <div class="textbox">
        <input id="lastName" type="text" placeholder="Last Name">
    </div>
    <div class="textbox">
        <input id="email" type="email" placeholder="Email">
    </div>
    {{!-- <div class="textbox">
        <input type="password" placeholder="Password">
    </div> --}}
    <button id="login" type="submit" class="btn" value="Login"> Login</button>
    <button id="signUp" type="button" class="btn" value="Sign Up"> Signup</button>
    
</form>

<script type="text/javascript" src="/assets/js/login.js"></script>
<script type="text/javascript" src="/assets/js/signup.js"></script>
