<form id="new-user" class="login-box">
    <h2>Login</h2>

    <div class="textbox">
        <input id="email" type="email" placeholder="Email">
    </div>
    {{!-- <div class="textbox">
        <input type="password" placeholder="Password">
    </div> --}}
    <button id="login" type="button" class="btnLogin" value="Login"> Login </button>
     <br>
    <br>
    <a href = "/"> Click here to Sign-Up</a>

    
</form>

<script type="text/javascript" src="/assets/js/login.js"></script>

