/* global styles */
html,
body,
main {
  height: 100vh;
}

body {
  font-family: "Josefin Sans", sans-serif;
  overflow: hidden;
  background-image: url("/assets/images/heinzfield.jpg");
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgb(171, 169, 169);
  background-repeat: repeat;
}

/* login */

.login-box {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.login-box h1 {
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #4caf50;
  margin-bottom: 50px;
  padding: 13px 0;
}
.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4caf50;
  background-color: white;
}
.textbox i {
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input {
  border: none;
  outline: none;
  background: none;
  color: black;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

/* All the buttons */
button {
  font-family: "Josefin Sans", sans-serif;
  display: inline-block;
  background-color:  #4caf50;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
button:hover {
  background-color:  #91f194;
}
button:hover span {
  padding-right: 25px;
}
button:hover span:after {
  opacity: 1;
  right: 0;
}


/* index */
h1 {
  width: 280px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* INDEX, FOOTBALL, FUTBOL, STYLE */

#indexWrap {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttonPlayerWrap {
  display: flex;
  position: relative;
  left: 0;
  bottom: 0;
}

input{
  font-family: "Josefin Sans", sans-serif;
  display: inline-block;
  background-color:  #a8ecaa;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#players{
  width: 150px;
  height: 40px;
  padding-top: 10px;
}

#update-delete-player{
  padding-top: 30px;
}

